.paginator {
  padding-bottom: 10px;
}
.pagesNumbers {
  padding: 0 3px;
  margin: 0 2px;
  border: 1px solid white;
  font-size: 12px;
  background: white;
  cursor: pointer;
  border-radius: 4px;
}
.selectedPage {
  font-weight: bold;
  color: white;
  background: rgb(52, 57, 97);
}
