.nav {
  grid-area: n;
  background-color: rgb(52, 57, 97);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.466);
}
.item {
  color: white;
  margin-bottom: 0.5rem;
}
.itemFriends {
  font-size: 2rem;
}
.link {
  text-decoration: none;
  color: white;
}
.link.active {
  color: rgb(252, 214, 0);
}
